body{
    margin: 0;
    border: 0;
}

h1{
    font-size: 30px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: brown;


}

.container{
    margin: 100px;
    border: 2px solid rgb(234, 197, 149);
    border-radius: 15px;
    background-color: rgb(230, 216, 198);

}

.main-cartoon{
    margin: 25px;
    border: 2px solid rgb(199, 170, 133);
    border-radius: 15px;
    background-color: rgb(171, 138, 96);
    padding-left: 80px;
    padding-right: 80px;

    display: flex;
    flex-direction: row;


}

.elemento-cartoon{
    margin: 25px;
    border: 1px solid rgb(224, 137, 55);
   

}

.tom-cartoon{
    width: 340px; 
    height: 260px;
    border-radius: 15px;
   

}

.for-cartoon{
    padding-left: 28px;
    padding-top: 90px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;




}

.box-cartoon{
    width: 330px;
    height: 18px;

    font-size: 14px;
    border: 1px solid rgb(107, 98, 98);
    border-radius: 5px;
    background-color: beige;
    gap: 10px;

}


    



.botao-cartoon{
    width: 165px;
    height: 24px;
    color: rgb(108, 138, 227);
    background-color: rgb(231, 176, 104);
    border-radius: 5px;
    border: 1px solid rgb(107, 98, 98);

}
